<div class="mx-0 mt-2 ms-sm-4 py-1 text-center text-sm-start">
    <a class="navbar-brand text-indigo" routerLink="/home">
        <img src="{{'./assets/Website_Logo.png'}}" style="height: 30px" class="d-inline-block align-middle nav-logo pe-1" alt="">
        <strong>Issue Tracking System</strong>
    </a>
</div>

<div class="jumbotron d-flex flex-column align-items-center pt-5">
    <h1 class="display-3 text-primary-gradient"><i class="fa fa-bug"></i> 404</h1>
    <h3><b>Not Found</b></h3>
    <p class="lead text-center w-75">
        We're sorry, your request was not found, Please return to the homepage.
    </p>
    <h6><a class="rounded-pill px-4 mt-1 text-decoration-none" href="#" role="button">Return Home</a></h6>
</div>