.content-container {
  margin-top: 80px;
}
@media (min-width: 576px) {
  .content-container {
    margin-left: 220px;
    margin-top: 60px;
  }
}
@media (max-width: 575px) {
  .top-alert {
    position: relative;
    top: 5px;
  }
}

.top-alert {
  width: 100%;
  height: 25px;
  background-color: whitesmoke;
}

.btn-close {
  width: 0.4em !important;
  height: 0.4em !important;
}
